/DatabaseTest/dist/
/ImageProcessing/build/
/ImageProcessing/nbproject/private/
/stopwatch/nbproject/private/
/stopwatch/build/
/Powe/build/
/Powe/nbproject/private/
/PowerFour (2)/nbproject/private/
/PowerFour/build/
/PowerFour/nbproject/private/